<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>record</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <div class="create-record">
        <h1>Create A Record</h1>
        <!-- weight -->
        <label for="weight">Please input your weight(/kg)</label>
        <input id="weight" type="number" placeholder="Enter an number"><br>
        <!-- date -->
        <label for="date">Please choose your running date</label>
        <input id="date" type="date"><br>
        <!-- <label for="date">Date</label>
        <input type="text" id="date" name="date" placeholder="enter the date" required> -->
        <!-- start/end place -->
        <!-- <label for="start_place">Start</label>
        <input type="text" id="start_place" name="start_place" placeholder="enter the start place" required>
        <label for="end_place">End</label>
        <input type="text" id="end_place" name="end_place" placeholder="enter the end place" required> -->
        <!-- <label for="time">Time</label>
        <input type="text" id="time" name="time" placeholder="enter the time you used" required>mins -->
        <!-- time -->
        <label for="start-time-input">Please choose your start time</label>
        <input id="start-time-input" type="time"><br>
        <label for="end-time-input">Please choose your ending time</label>
        <input id="end-time-input" type="time">
        <!-- map -->
        <div id="map"> </div>
        <!-- calcultion -->
        <p>Distance(/km): <span id="total"></span></p>
        <p>Time(/h): <span id="time"></span></p>
        <p>Speed(km/h): <span id="speed"></span></p>
        <p>calorie(/kcal): <span id="kcal"></span></p>
        <!-- add button -->
        <div style="display: none">
            <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location"><br>
            <input id="destination-input" class="controls" type="text" placeholder="Enter a destination location">
        </div>
        <button type="submit" id="add_record">ADD</button>
    </div>
    <br><br><br>
    <div class="show-record">
            <h1>Records</h1>
            <table>
                <tr>
                    <th>date</th>
                    <th>start</th>
                    <th>end</th>
                    <th>time</th>
                    <th>distance</th>
                    <th>speed</th>
                    <th>calories</th>
                </tr>
                <% records.forEach(function(record) { %>
                    </tr class="record_line">
                        <td><%= record.date %></td>
                        <td><%= record.start_place %></td>
                        <td><%= record.end_place %></td>
                        <td><%= record.time %> mins</td>
                        <td><%= record.distance %> km</td>
                        <td><%= record.speed %> km/h</td>
                        <td><%= record.calories%> k</td>
                    </tr>
                <%})%>
            </table>
            <br><br>
            
            <div id="total_distance"></div>
            <div id="average_speed">Average Speed: 0.5 km/h</div>
            <div id="total_cycling_time">Total Cycling Time: 3 hours</div>
        </div>

        <script src="js/route.js"></script>
    <script src="/js/record.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAeWXKaDnm2N6UX-qnR8BVFqzPWC49OWE&libraries=places&callback=initMap"
        async defer></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>